.header{ 
	background:-webkit-linear-gradient(top,#59e,#48f);
	background: linear-gradient(top,#eee,#ddd);
} 
.header h2 {font-size: 16px;color:white;margin-top:5px;margin-left:10px;font-family:"微软雅黑","黑体"} 
.tabs{} 
.tabs{background-image: url(../images/config2.png) !important;} 
.manage{background-image: url(../images/config2.png) !important;} 
.home{background-image: url(../images/config2.png) !important; line-height:30px;} 
.icon-menu{background-image: url(../images/config2.png) !important;}
